@model IEnumerable<GummiBearKingdom.Models.Product>

@{ 
    ViewData["Title"] = "Gummy Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}

<h1>Products</h1>

<div class="row">
    @foreach (var product in Model)
    {
        if (counter != 0 && counter % 3 == 0)
        {
            @:</div>
            @:<div class="row">
        }
        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top product-images" src="@Url.Content(product.ImageURL)" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">@Html.DisplayFor(model => product.Name)</h4>
                    <p class="card-text">@Html.DisplayFor(model => product.Description)</p>
                </div>
                <div class="card-block">
                    <button class="btn btn-warning button-editors" type="button" onclick="location.href='@Url.Action("Edit", new { id = product.ProductId})'">
                        Edit
                    </button>
                    <button class="btn btn-danger button-editors" type="button" onclick="location.href='@Url.Action("Delete", new { id = product.ProductId })'">
                        Delete
                    </button>
                </div>
            </div>
        </div>
   
        counter++;
    }
</div>